<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<system.data>
		<DbProviderFactories>
			<add
				name="Windows Azure Table Storage Provider"
				invariant="Magurany.Data.TableStorageClient"
				description=".NET Framework Data Provider for Microsoft Azure Table Storage."
				type="Magurany.Data.TableStorageClient.TableStorageClientFactory, Magurany.Data.TableStorageClient" />
		</DbProviderFactories>
	</system.data>

</configuration>